.header {
    font-size: 80px;
    color: brown;
}
body {
    font-size: 12px;
    color: rgba(255, 0, 0, 0.63);
    text-align: center;
}
.bibaiboba {
    font-size: 123px;
    color: thistle;
}
.churkamoment {
    font-size: 150px;
    color: tomato;
}
.red {
    color: blue;
}
